<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Snel naar</h4>
                <ul>
                    <li><a href="#/">Verkoop je huis op funda</a></li>
                    <li><a href="#/">Check je woningwaarde</a></li>
                    <li><a href="#/">Zoek een NVM-makelaar</a></li>
                    <li><a href="#/">Volg de woningmarkt: funda Index</a></li>
                    <li><a href="#/">Blader door al het aanbod</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Inzichten & inspiratie</h4>
                <ul>
                    <li><a href="#/">Inloggen Mijn Huis</a></li>
                    <li><a href="#/">Alles over een huis kopen</a></li>
                    <li><a href="#/">Alles over een huis verkopen</a></li>
                    <li><a href="#/">Alles over je huis aanpakken</a></li>
                    <li><a href="#/">Tips voor zoeken op funda</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Voor makelaars</h4>
                <ul>
                    <li><a href="#/">Meld je aan bij funda</a></li>
                    <li><a href="#/">Plaats en promoot objecten</a></li>
                    <li><a href="#/">Promoot je kantoor</a></li>
                    <li><a href="#/">Verbreed je kennis</a></li>
                    <li><a href="#/">Inloggen funda desk</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Volg ons</h4>
                <div class="social-links">
                    <a href="#/"></a>
                    <a href="#/"></a>
                    <a href="#/"></a>
                    <a href="#/"></a>
                </div>
            </div>
        </div>
    </div>
</footer>




